{% extends '::base.html.twig' %}

{% block title %}
    {{ 'zimzim_actionitem.new.title'|trans({}, 'ZIMZIMConstructionSite') }}
{% endblock title %}


{% block page %}
    <div class="row">
        <div class="medium-12 columns">
            <h1 class="text-center title">
                {% if entity.constructionSite is defined and entity.constructionSite.id is defined %}
                    {{ 'zimzim_actionitem.new.titleadd'|trans({"%name%":entity.constructionSite.name}, "ZIMZIMConstructionSite") }}
                {% else %}
                    {{ 'zimzim_actionitem.new.title'|trans({}, 'ZIMZIMConstructionSite') }}
                {% endif %}
            </h1>
        </div>
    </div>

    <div class="panel">
        {{ form(form) }}
    </div>

    <div class="row">
        <div class="small-4 columns text-left">
            <a class="link-return" href="{{ path('zimzim_constructionsite_actionitem') }}">
                <i class="icon-arrow-left icon-large vertical"></i>
                {{ 'link.return'|trans }}
            </a>
        </div>
    </div>

{% endblock %}
