{% extends '::base.html.twig' %}


{% block title %}
    {{ 'zimzim_constructionsite.show.title'|trans({"%name%": entity.name}, "ZIMZIMConstructionSite") }}
{% endblock title %}

{% block page %}
    <h1 class="text-center title">
        {{ 'zimzim_constructionsite.show.title'|trans({"%name%": entity.name}, "ZIMZIMConstructionSite") }}
    </h1>
    <div class="row">
        <div class="medium-12 columns">
            <table class="width-100 panel">
                <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ entity.id }}</td>
                </tr>
                <tr>
                    <th>{{ 'constructionsite.name'|trans({}, "ZIMZIMConstructionSite") }}</th>
                    <td>{{ entity.name }}</td>
                </tr>
                <tr>
                    <th>{{ 'constructionsite.text'|trans({}, "ZIMZIMConstructionSite") }}</th>
                    <td>{{ entity.text }}</td>
                </tr>
                <tr>
                    <th>{{ 'constructionsite.titleSeo'|trans({}, "ZIMZIMConstructionSite") }}</th>
                    <td>{{ entity.titleSeo }}</td>
                </tr>
                <tr>
                    <th>{{ 'constructionsite.descSeo'|trans({}, "ZIMZIMConstructionSite") }}</th>
                    <td>{{ entity.descSeo }}</td>
                </tr>
                <tr>
                    <th>{{ 'constructionsite.city'|trans({}, "ZIMZIMConstructionSite") }}</th>
                    <td>{{ entity.city }}</td>
                </tr>
                <tr>
                    <th>{{ 'constructionsite.created_at'|trans({}, "ZIMZIMConstructionSite") }}</th>
                    <td>{{ entity.createdAt|date('d/m/Y H:i:s') }}</td>
                </tr>
                <tr>
                    <th>{{ 'constructionsite.date'|trans({}, "ZIMZIMConstructionSite") }}</th>
                    <td>{{ entity.date|date('d/m/Y H:i:s') }}</td>
                </tr>
                <tr>
                    <th>{{ 'constructionsite.duration'|trans({}, "ZIMZIMConstructionSite") }}</th>
                    <td>{{ entity.duration }}</td>
                </tr>
                <tr>
                    <th>{{ 'constructionsite.imagebefore'|trans({}, "ZIMZIMConstructionSite") }}</th>
                    <td><img src="/{{ entity.getWebPathBefore }}" class="img-medium"/></td>
                </tr>
                <tr>
                    <th>{{ 'constructionsite.imagepending'|trans({}, "ZIMZIMConstructionSite") }}</th>
                    <td><img src="/{{ entity.getWebPathPending }}" class="img-medium"/></td>
                </tr>
                <tr>
                    <th>{{ 'constructionsite.imageafter'|trans({}, "ZIMZIMConstructionSite") }}</th>
                    <td><img src="/{{ entity.getWebPathAfter }}" class="img-medium"/></td>
                </tr>
                </tbody>
            </table>

            <h2 class="text-center">
                {{ 'zimzim_constructionsite.show.list'|trans({}, "ZIMZIMConstructionSite") }}
                &nbsp;-&nbsp;
                <a class="tiny button"
                   href="{{ path('zimzim_constructionsite_actionitem_addoncs', { 'id': entity.id }) }}">
                    {{ 'zimzim_constructionsite.show.addoncs'|trans({}, "ZIMZIMConstructionSite") }}
                </a>
            </h2>

            <div class="row panel">
                {% for actionItem in entity.actionItems %}
                    <div class="small-3 columns bgprimary text-center">
                        <a href="{{ path('zimzim_constructionsite_actionitem_edit', {'id': actionItem.id}) }}"
                           class="secondarycolor">
                            <span class="icon-pencil icon-medium"></span> - {{ actionItem.name }}
                        </a>
                    </div>
                {% endfor %}
            </div>


            <div class="row">
                <div class="small-4 columns text-left">
                    <a class="link-return" href="{{ path('zimzim_constructionsite_constructionsite') }}">
                        <i class="icon-arrow-left icon-normal vertical"></i>
                        {{ 'link.return'|trans }}
                    </a>
                </div>
                <div class="small-4 columns text-center">
                    <a class="tiny button"
                       href="{{ path('zimzim_constructionsite_constructionsite_edit', { 'id': entity.id }) }}">
                        {{ 'button.update'|trans }}
                    </a>
                </div>
                <div class="small-4 columns text-center">
                    {{ form(delete_form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
